<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>06-02</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <style>
      .btnColor {
        background-color: aqua;
        color: black;
      }
      .btnAlign {
        text-align: center;
        width: 120px;
      }
      .btnBorder {
        border: khaki dashed 1px;
      }
    </style>
  </head>
  <body>
    <div id="app" class="container">
      <input type="checkbox" v-model="btnColor" />
      색상<br />
      <input type="checkbox" v-model="btnAlign" />
      정렬, 크기기<br />
      <input type="checkbox" v-model="btnBorder" />
      테두리리<br />
      <button :class="{btnColor,btnAlign,btnBorder}">버튼</button>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let vm = Vue.createApp({
        data() {
          return {
            btnColor: false,
            btnAlign: false,
            btnBorder: false,
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
